<!--
 * @Author: CollapseNav
 * @Date: 2020-03-01 16:40:22
 * @LastEditors: CollapseNav
 * @LastEditTime: 2020-03-26 02:19:23
 * @Description:
 -->
<div class="row">
  <div class="col-md-12">
    <div class="card">
      <div class="card-header">
        <h4 class="card-title"> {{tableRouter[tableRouter.length-1].folder}}</h4>
        <nav aria-label="breadcrumb" role="navigation">
          <ol class="breadcrumb">
            <li class="breadcrumb-item" *ngFor="let item of tableRouter">
              <a href="javascript:void(0)" (click)="turnBackTo(item.id)">{{item.folder}}</a>
            </li>
          </ol>
        </nav>
        <div class="row">
          <div class="col-md-3">
            <div class="input-group no-border">
              <div class="input-group-prepend">
                <div class="input-group-text">
                  <i class="nc-icon nc-zoom-split " style="cursor: pointer;" (click)="searchFile(searchvalue)"></i>
                </div>
              </div>
              <input type="text" class="form-control" (keyup.enter)="searchWaitEnter(searchvalue.value)" #searchvalue />
              <div class="input-group-append no-border">
                <div class="input-group-text no-border">
                  <i class="nc-icon nc-simple-remove " style="cursor: pointer;" (click)="clearSearch(searchvalue)"></i>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>


      <div class="card-body">
        <div class="table-responsive-md">
          <table class="table">
            <thead class=" text-primary">
              <th *ngFor="let item of tableThead" scope="col" width="{{item.per}}">{{item.content}}</th>
            </thead>
            <tbody>
              <tr *ngFor="let item of tableData" scope="row">

                <ng-container *ngIf="item.isDeleted==='1'">
                  <ng-container *ngIf="item.fileExt=='folder';else notFolder">
                    <td style="-webkit-user-select:none;" #folder>
                      <span class="h6" style="cursor: pointer;" (dblclick)="onDbClick(item.id)">
                        {{item.fileName}}
                      </span>
                    </td>
                  </ng-container>
                  <ng-template #notFolder>
                    <td style="-webkit-user-select:none;">{{item.fileName}}</td>
                  </ng-template>
                  <td>{{item.fileExt}}</td>
                  <td>{{item.fileSize}}</td>
                  <td>{{item.addDate}}</td>
                  <td>
                    <button class="btn  btn-round btn-danger btn-icon" (click)="onBe(truedel,item)" ngbTooltip="Delete"
                      triggers="hover">
                      <i class="nc-icon nc-simple-remove"></i>
                    </button>
                    <button class="btn  btn-round btn-primary btn-icon" (click)="onBe(undel,item)" ngbTooltip="UnDelete"
                      triggers="hover">
                      <i class="nc-icon nc-refresh-69"></i>
                    </button>
                  </td>
                </ng-container>

              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
<ng-template #undel let-undel>
  <div class="modal-body">
    <p>{{file.fileName}}</p>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-warning" (click)="unDelete(undel,file.id)">Yes</button>
    <button type="button" class="btn btn-primary" (click)="undel.close()">No</button>
  </div>
</ng-template>
<ng-template #truedel let-truedel>
  <div class="modal-body">
    <p>{{file.fileName}}</p>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-warning" (click)="trueDeleteFile(truedel,file.id)">Yes</button>
    <button type="button" class="btn btn-primary" (click)="truedel.close()">No</button>
  </div>
</ng-template>
