<!--
 * @Author: CollapseNav
 * @Date: 2020-04-04 18:49:01
 * @LastEditors: CollapseNav
 * @LastEditTime: 2020-04-04 19:51:10
 * @Description:
 -->
<!--
 * @Author: CollapseNav
 * @Date: 2020-04-04 18:49:01
 * @LastEditors: CollapseNav
 * @LastEditTime: 2020-04-04 19:48:36
 * @Description:
 -->
<button class="btn  btn-round btn-primary btn-icon " (click)="onBe(ushare)" ngbTooltip="UnShare" triggers="hover">
  <i class="nc-icon nc-refresh-69"></i>
</button>
<ng-template #ushare let-ushare>
  <app-checkmodal [file]="item" (check)="check($event,ushare)"></app-checkmodal>
</ng-template>
