<!--
 * @Author: CollapseNav
 * @Date: 2020-03-01 16:40:22
 * @LastEditors: CollapseNav
 * @LastEditTime: 2020-03-13 18:28:07
 * @Description:
 -->
<div class="row">
  <div class="col-md-12">
    <div class="card">
      <div class="card-header">
        <h4 class="card-title"> {{tableRouter[tableRouter.length-1].folder}}</h4>
        <nav aria-label="breadcrumb" role="navigation">
          <ol class="breadcrumb">
            <li class="breadcrumb-item" *ngFor="let item of tableRouter">
              <a href="javascript:void(0)" (click)="turnBackTo(item.id)">{{item.folder}}</a>
            </li>
          </ol>
        </nav>
      </div>
      <div class="col-md-4 ">
        <div style="display: inline-table;overflow: hidden;position: relative;bottom: 0%;">
          <span class="btn btn-warning">Upload</span>
          <input class="" style="position: absolute;right: 0;top: 0;opacity: 0;" type="file" id="UploadFiles" multiple
            webkitdirectory />
        </div>
      </div>
      <div class="card-body">
        <div class="table">
          <table class="table">
            <thead class=" text-primary">
              <th *ngFor="let item of tableThead" scope="col" width="{{item.per}}">{{item.content}}</th>
            </thead>
            <tbody>
              <tr *ngFor="let item of tableData" scope="row">

                <ng-container *ngIf="item.isShared==='1'&&item.isDeleted==='0'">
                  <ng-container *ngIf="item.fileExt=='folder';else notFolder">
                    <td style="-webkit-user-select:none;" #folder>
                      <span class="h6" style="cursor: pointer;" (dblclick)="onDbClick(item.id)">
                        {{item.fileName}}
                      </span>
                    </td>
                  </ng-container>
                  <ng-template #notFolder>
                    <td style="-webkit-user-select:none;">{{item.fileName}}</td>
                  </ng-template>
                  <td>{{item.fileExt}}</td>
                  <td>{{item.fileSize}}</td>
                  <td>{{item.addDate}}</td>
                  <td>
                    <button class="btn  btn-round btn-danger btn-icon " (click)="onDelete(del)"
                      ngbTooltip="Delete" triggers="hover">
                      <i class="nc-icon nc-simple-remove"></i>
                    </button>
                    <button class="btn  btn-round btn-primary btn-icon " (click)="onDelete(del)"
                      ngbTooltip="Revert" triggers="hover">
                      <i class="nc-icon nc-refresh-69"></i>
                    </button>
                  </td>
                </ng-container>

              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
<ng-template #del let-del>
  <div class="modal-body">
    <p>One fine body</p>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-light" (click)="onDelCheck(del)">Yes</button>
    <button type="button" class="btn btn-light" (click)="del.close()">No</button>
  </div>
</ng-template>
