<!--
 * @Author: CollapseNav
 * @Date: 2020-03-01 16:40:22
 * @LastEditors: CollapseNav
 * @LastEditTime: 2020-04-08 15:21:11
 * @Description:
 -->
<div class="row">
  <div class="col-md-12">
    <div class="card">
      <ul ngbNav #nav="ngbNav" class="card-header nav-pills nav-fill">
        <li [ngbNavItem]="1">
          <a ngbNavLink class="btn btn-info btn-round">Private Share</a>
          <ng-template ngbNavContent>
            <app-filecom [mainConfig]="privateConfig"></app-filecom>
          </ng-template>
        </li>
        <li [ngbNavItem]="2">
          <a ngbNavLink class="btn btn-info btn-round">Public Share</a>
          <ng-template ngbNavContent>
            <app-filecom [mainConfig]="publicConfig"></app-filecom>
          </ng-template>
        </li>
      </ul>
      <div [ngbNavOutlet]="nav" class="card-body"></div>
    </div>

  </div>
</div>
